<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malha de Medição</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="../formsCss/malhaMedicao.css" />
    <script src="../../controllers/dadosInput.js"></script>
    <script src="../../controllers/limparForm.js"></script>
    <script src="../../models/calculoInput.js"></script>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Barretos Inteligente</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Inicio </span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/modernizacao">Modernização</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Medição
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/malhaMedicao">Malha de Medição <span class="sr-only">(página atual)</a>
                <a class="dropdown-item" href="endereco.html">Endereço/a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Algo mais aqui</a>
              </div>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Pesquisar</button>
          </form>
        </div>
      </nav>
      <div class="container mmdata">
        <h2>Malha de Medição</h2>
        <form id="formulario-medicao">
            <div class="form-group">
                <label for="campo0" class="campo-formulario">Data:</label>
                <input type="text" class="campo-formulario" id="campo0" name="campo0">
            </div>
            <div class="form-group">
                <label for="campo1"class="campo-formulario">Distância entre Postes:</label>
                <input type="text" class="campo-formulario" id="campo1" name="campo1">
            </div>

            <div class="form-group">
                <label for="campo2"class="campo-formulario">Largura da Via:</label>
                <input type="text" class="campo-formulario" id="larguraVia" name="campo2">
            </div>

            <div class="form-group">
                <label for="campo3" class="campo-formulario">Faixas de Rolamento:</label>
                <input type="text" class="campo-formulario" id="faixaRolamento" name="campo3">
            </div>

            <div class="form-group">
                <label for="campo4"class="campo-formulario">Altura Luminária:</label>
                <input type="text" class="campo-formulario" id="campo4" name="campo4">
            </div>

            <div class="form-group">
                <label for="campo5"class="campo-formulario">Largura Estacionamento A:</label>
                <input type="text" class="campo-formulario" id="campo5" name="campo5">
            </div>

            <div class="form-group">
                <label for="campo6"class="campo-formulario">Largura Estacionamento B:</label>
                <input type="text" class="campo-formulario" id="campo6" name="campo6">
            </div>
            
            <div class="form-group">
                <label for="campo7" class="campo-formulario">Tipo Luminária:</label>
                <input type="text" class="campo-formulario" id="campo7" name="campo7">
            </div>
            <button type="button" class="btn btn-primary" onclick="calcular(),calculoVia()">Calcular</button>
            <button type="submit" class="btn btn-primary" onclick="limparFormulario()">Novo</button>
        </form>
    </div>
    <table class="table table-bordered container" id="tabela-medicao">
        <thead>
            <tr>
                <th>DATA</th>
                <th>DISTÂNCIA ENTRE POSTES</th>
                <th>LARGURA VIA</th>
                <th>FAIXAS DE ROLAMENTO</th>
                <th>ALTURA DA LUMINÁRIA</th>
                <th>LARGURA ESTACIONAMENTO A</th>
                <th>LARGURA ESTACIONAMENTO B</th>
            </tr>
        </thead>
        <tbody>
            <tr class="inputMed">
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                
            </tr>
            <tr class="inputLuminaria">
                <td colspan="1"></td>
                <td colspan="5">Luminária Soneres Zeka Small 50w</td>
                <td colspan="1"></td>
                
            </tr>
            <tr>
                <td></td>
                <td>POSTE</td>
                <td colspan="3"></td>
                <td>POSTE</td>
                <td></td>
                
            </tr>
            <tr class="inputEstA">
                <td colspan="7" font-height="">TESTE</td>
            </tr>
            <tr class="calculoDist">
                <td></td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td>0</td>
                <td></td>
            </tr>
            <tr class="colMed1">
                <td id="medida1cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="colMed2">
                <td id="medida2cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="cloMed3">
                <td id="medida3cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="ocultar-faixa1">
                <td id="medida4cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="ocultar-faixa1">
                <td id="medida5cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="ocultar-faixa1">
                <td id="medida6cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="ocultar-faixa1 ocultar-faixa2">
                <td id="medida7cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="ocultar-faixa1 ocultar-faixa2">
                <td id="medida8cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="ocultar-faixa1 ocultar-faixa2">
                <td id="medida9cel">0</td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td class="dados"><input type="text" name="dados"></td>
                <td></td>
            </tr>
            <tr class="inputEstB">
                <td colspan="7"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>